<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from action="/updateteacher1/{{teacher.id}}" method="POST">
        {% csrf_token %}
        <label for="">First_Name</label>
        <input type="text" value="{{user1.first_name}}" name="fname"> <br> <br>
        <label for="">Last_Name</label>
        <input type="text" value="{{user1.last_name}}" name="lname"> <br> <br>
        <label for="">Email</label>
        <input type="text" value="{{user1.email}}" name="email"> <br> <br>
        <label for="">phone</label>
        <input type="text" value="{{teacher.phone}}" name="phone"> <br> <br>
        <label for="">Qualification</label>
        <input type="text" value="{{teacher.Qualification}}" name="qual"> <br> <br>
        <input type="submit" value="update">
    </from>
</body>
</html> -->