<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>EMAIL</th>
            <th>QUALIFICATION</th>
            <th>PHONE</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.teach_id.first_name}}</td>
            <td>{{i.teach_id.last_name}}</td>
            <td>{{i.teach_id.email}}</td>
            <td>{{i.Qualification}}</td>
            <td>{{i.phone}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> -->