<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>DEPARTMENT</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.stud_id.first_name}}</td>
            <td>{{i.stud_id.last_name}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.place}}</td>
            <td>{{i.dep_id.Dep_Name}}</td>
            <td><a href="admin_approve_students/{{i.id}}">Approve</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>